.description-container {
    display: flex;
    align-items: center;
    justify-items: center;
    //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    //0 1px 2px rgba(0, 0, 0, 0.24);
    width: 100%;
    //padding: 10px;
    justify-content: space-around;
    line-height: 1.5;
    background-color: #FBFCFC;
    margin-top: 5px;
    flex-wrap: wrap;
    height: 20vh;

    .description-img {
        display: flex;
        width: 100px;
        height: 100px;
        align-items: center;
        justify-content: center;
        //margin-left: 15px;
        .card-img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 10px solid #F0FAF8;
            //margin-left: 10px;
        }
    }


    .description-doctor {
        width: 50%;
        height: 100%;
        display: flex;
        //padding: 10px;
        background: #fff;
        border-radius: 12px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-left: 25px;

        .card-doctor-info {
            width: 60%;

            .card-doctor-h3 {
                margin-bottom: 10px;
                font-size: 1.5rem;
            }

            .card-doctor-p {
                color: #363636;
                font-size: 15px;
                opacity: 0.6;
            }
        }


        .card-buttons {
            display: flex;
            height: 40px;
            position: absolute;
            bottom: 20px;
            right: 10px;

            .card-btn1, .card-btn2 {
                padding: 10px;
                width: 120px;
            }

            .card-btn1 {

                background: #7BED9F;
                border: none;
                border-radius: 7px;
                color: #fff;

            }

            .card-btn2 {
                border: none;
                color: #1e90ff;
                background: inherit;

            }


        }


    }


    .description-clock {
        display: flex;
        width: 40%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border-radius: 10px;

        .clock {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin: 15px;

        }

        .hour {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .hour-p {
                color: #1e90ff;
                font-size: 45px;
            }

            .minute-p {
                color: #C5C9CC;
                font-size: 45px;
            }

            .second-p {
                color: #7bed9f;
                font-size: 45px;
            }

        }

        .buttons-hour {
            display: flex;
            margin-bottom: 7px;
            text-align: center;
            color: #C5C9CC;

            .button-work, .button-break {
                border: none;
                padding: 2px 7px;
                border-radius: 5px;
                width: 110px;
                margin-right: 10px;
            }

            .button-work {
                background: #1e90ff;
                color: #fff;

            }

            .button-break {
                background: #fff;
                border: 1px solid #C5C9CC;

                .button-break-span {
                    color: #7BED9F;
                }

            }
            .break p {
                font-size: 18px;
                margin-right: 5px;
                text-align: center;
            }
        }

        .analog-clock {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            //@import "_clock.module";


        }


    }

}





//.description-layout{
//    background-color: #2a2a2a;
//    display: flex;
//    width: 100%;
//    height: 20vh;
//
//    .image{
//        background-color: #6cb2eb;
//    }
//
//    .welcome{
//        background-color: #6f42c1;
//    }
//
//    .countdown{
//        background-color: #48bb78;
//    }
//}





