.description-container {
    justify-content: space-around;
    line-height: 1.5;
    //background-color: #FBFCFC;
    height: 20vh;
    display: flex;
    width: 100%;
    margin : 15px  15px 15px 0 !important;


    .description-img {
        width: 100px;
        height: 100px;
        margin: auto;




        //margin-left: 15px;
        .card-img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 10px solid #F0FAF8;
            //margin-left: 10px;
        }
    }


    .description-doctor {
        width: 55%;
        display: flex;
        background: #fff;
        border-radius: 12px;
        align-items: center;
        justify-content: space-between;
        margin-right: 25px;
        //margin-left: 25px;
        padding: 25px;

        .card-doctor-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .card-doctor-h3 {
                margin-bottom: 10px;
                font-size: 1.5rem;
            }

            .card-doctor-p {
                color: #363636;
                font-size: 16px;
                opacity: 0.6;
            }
        }


        .card-buttons {
            display: flex;
            width: 40%;
            height:100%;
            align-items: end;
            margin-top: 25px;


            .card-btn1, .card-btn2 {
                padding-left: 0 !important;
                margin: 10px;
                width: 120px;

            }


            .card-btn1 {

                background: #7BED9F;
                border: none;
                border-radius: 7px;
                color: #fff;
            }

            .card-btn2 {
                border: none;
                color: #1e90ff;
                background: inherit;

            }
        }
    }

            .description-clock {
                display: flex;
                width: 35%;
                //height: 100%;
                align-items: center;
                justify-content: space-between;
                background: #fff;
                border-radius: 10px;
                margin-right: 15px;

                .clock {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50%;
                    margin: 15px;

                }

                .hour {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-bottom: -5px;

                    .hour-p {
                        color: #1e90ff;
                        font-size: 45px;
                        display: flex;

                    }

                    .minute-p {
                        color: #C5C9CC;
                        font-size: 45px;
                        display: flex;
                    }

                    .second-p {
                        color: #7bed9f;
                        font-size: 45px;
                        display: flex;
                    }

                }

                .buttons-hour {
                    display: flex;
                    text-align: center;
                    color: #C5C9CC;

                    .break p {
                        margin-bottom: 0 !important;
                        padding-right: 5px;
                    }

                    .button-work, .button-break {
                        border: none;
                        padding: 2px 7px;
                        border-radius: 5px;
                        width: 110px;
                        margin-right:10px;

                    }

                    .button-work {
                        background: #1e90ff;
                        color: #fff;

                    }

                    .button-break {
                        background: #fff;
                        border: 1px solid #C5C9CC;

                        .button-break-span {
                            color: #7BED9F;
                        }

                    }
                }

                .analog-clock {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //@import "_clock.module";


                }


            }
}







