

@import "variables";
.login {
    background: #FBF7EA;
    position: relative;
    overflow: hidden;
}
.login-left {
    width: 79%;
    height: 100vh;
    background-size: cover;
    //background-image: url("../storage/images/login_background.jpg");
    background-color: #FBF7EA;
    background-position: right;
    background-blend-mode: overlay;
}
.image {
    width: 60%;
    height: 100vh;
    clip-path: polygon(0% 0%, 95% 0, 102% 39%, 65% 100%, 0% 100%);
}
img {
    width: 105%;
    height: 100%;
    opacity: 0.8;
}
svg {
        transform: rotate(-90deg);
        height: 100%;
        width: 100%;
        position: absolute;
        right: -300px;

    .login-wave {
        fill: #FBF7EA;
    }
}
.login-right {
    position: absolute;
    right: 100px;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 30px;
    line-height: 1.5;
}
p {
    font-size: 15px;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-form-input {
    position: relative;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    width: 300px;
    height: 30px;
    border: none;
    padding-left: 35px;
    &:focus {
        outline: none;
        border-bottom: 2px solid #70A1FF;
    }
}
.login-form-input-btn {
    width: 150px;
    height: 40px;
    position: relative;
}
.login-input-btn {
    width: 100px;
    height: 30px;
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(67,67,67, 0.1);
    padding-left: 10px;
}
.login-icon-btn {
    width: 20%;
    background-color: #70A1FF;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1rem;
    height: 30px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    i {
        margin-left: 5px;
        color: white;
        margin-top: 6px;
    }
}
.login-icon {
    width: 10%;
    background-color: #70A1FF;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1rem;
    height: 30px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    i {
        margin-left: 5px;
        color: white;
        margin-top: 6px;
    }
}
.login-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.login-pass-input-text {
    font-size: 10px;
    text-align: right;
    margin-top: 4px;
    a {
        color: #70A1FF;
        text-decoration: none;
    }
}
select {
    background: unset;
    border: 0;
    position: relative;
}
.login-headSelect {
    position: relative;
    padding-bottom: 10px;
    width: max-content;
    &:before {
        content: "";
        width: 0;
        height: 2px;
        background: #70A1FF;
        position: absolute;
        bottom: -2px;
        left: 0;
        transition: all 0.3s linear;
        margin-bottom: 10px;
    }
    &:hover {
        &:before {
            width: 100%;
        }
    }
}

