

.navbar-component {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFCFC;
    //box-shadow: 0 15px 25px rgba(67, 67, 67, 0.1);
    position: relative;


    .nav_left {
        width: 25%;
        display: flex;

        .doctor_info {

            .doctor-name {
                font-size: 18px;
                //margin-bottom: 0 !important;
            }

            .department {
                font-size: 13px;
                letter-spacing: 1px;
                //margin-bottom: 0 !important;
            }


        }
    }


    .doctor_status {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;

        .line {
            background-color: #C5C9CC;
            width: 2px;
            height: 45px;
            margin-left: 15px;
            margin-right: 15px;
        }

        .circle {
            background-color: #7bed9f;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            margin-right: 15px;
        }

        .Work_status {
            margin-bottom: 0;
        }
    }


    #dclock {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: xx-large;

        p {
            font-size: 40px;
            margin-top: 10px;

            span {
                font-size: 30px;
                font-weight: bold;
            }
        }
    }


    .nav_icons {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 25%;
        color: #20d573;

        //.p-notification::before {
        //    content: "\f0f3";
        //    font-family: "Font Awesome 5 Free";
        //    font-weight: 900;
        //
        //
        //}

        .p-message::before {
            //font-family: "Font Awesome 5 Free";
            //content: "\f2b6";

        }

        a {
            font-size: 20px;
            margin-right: 25px;
            color: #7BED9F;
            text-decoration-line: none;


            .fa-cog {
                color: #1e90ff;
            }
        }
    }


    .nav-notification {
        border-radius: 50%;
        background-color: white;
        color: red;
        position: absolute;
        width: 12px;
        height: 12px;
        text-align: center;
        right: 9.2%;
        top: 50%;
        font-size: 8px;
        box-shadow: 0 3px 3px gray;
        display: none;


    }

    .nav-message {
        border-radius: 50%;
        background-color: white;
        color: red;
        position: absolute;
        width: 12px;
        height: 12px;
        text-align: center;
        right: 6%;
        top: 50%;
        font-size: 8px;
        box-shadow: 0 3px 3px gray;
        display: none;
    }

}




