
.side_menu {
    background-color: #FBFCFC;
    height: 100vh;

    .side-menu-img-container {
        border-radius: 50%;
        width: 3vw;
        height: 3vw;
        background-color: black;
        margin-top: 1vw;
        margin-bottom: 1.5vw;


        .side-menu-img {
            width: 100%;
            border-radius: 50%;

        }
    }

    .side-menu-icons {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:96px;



        .icons-container {
            margin-bottom: 2vw;
            //&::after{
            //    content: "Dashboard";
            //    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
            //    background-color: #2a2a2a;
            //    color: white;
            //    border-radius: 0.2px;
            //    margin-left:100px;
            //
            //
            //
            //}

        }


        .side-menu-icon {
            //margin-bottom: 1.5vw;

            &:hover {
                color: #7BED9F;
            }

        }
    }


}






