// fontawesome
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";


// fonts
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
$font-size-large: 25px;
$font-size-medium: 15px;
$font-size-small :12px;

// Colors
$background: #FBF7EA;
$icon-back: #70a1ff;
$city-light: #dfe4ea;

// Bootstrap
@import '~bootstrap/scss/bootstrap';
