

html,body{
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cairo, sans-serif;
}

@import "_loginpage.module";

@import "_master.module";
@import "_clock.module";


@import"./doctor_room_components/room_master.module";
@import "./doctor_room_components/room_timeline.module";
@import "./doctor_room_components/room_boxCharts.module";
@import "./doctor_room_components/room_cards.module";
@import "./doctor_room_components/room_table.module";
