

html,body{
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cairo, sans-serif;
}

@import "_loginpage.module";
@import "_master.module";
@import "./doctor_room_components/room_master.module";

@import "./doctor_room_components/room_boxCharts.module";
@import "./doctor_room_components/room_timeline.module";
@import "./doctor_patient_components/_patient_master.module";
//@import "./doctor_patient_components/patient_examinationChart.module";
//@import "./doctor_patient_components/patient_consultantChart.module";
//@import "./doctor_patient_components/patient_nextPatient.module";
//@import "./doctor_patient_components/patient_chart.module";
//@import "./doctor_patient_components/patient_filterTable.module";
