
.patient-header-card4 {
    //width: 25%;
    width: 456px;
    //flex: 2;
    box-shadow: 1px 4px 5px #57544585;
    border-radius: 15px;

    // width: fit-content;

    .patient-header-card4-h {
        padding-top: 12px;
        padding-left: 12px;
    }
    .patient-header-card4-content {
        display: flex;
        flex-flow: row wrap;

        .patient-header-card4-chart6 {
            width: 200px;
            height: 150px;
        }

        .patient-header-card4-spans1 {
            position: relative;
            padding-top: 134px;
            width: 128px;
            .patient-header-card4-span1 {
                font-size: 10px;
                text-align: center;
                padding-bottom: 10px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 27px;
                    height: 5px;
                    border-radius: 37%;
                    right: 72%;
                    top: 82%;
                    background-color: #0400ff;
                    @media (min-width: 300px) and (max-width: 1700px) {
                    }
                }
            }

            .patient-header-card4-span2 {
                font-size: 10px;
                text-align: center;
                padding-left: 17px;
                &::before {
                    content: "";
                    position: absolute;
                    width: 27px;
                    height: 5px;
                    border-radius: 37%;
                    right: 72%;
                    top: 95%;
                    background-color: #0400ff;
                }
            }
        }

        .patient-header-card4-spans2 {
            position: relative;
            width: 128px;

            padding-top: 134px;

            .patient-header-card4-span3 {
                padding-bottom: 10px;
                font-size: 10px;
                text-align: center;
                padding-left: 21px;
            }
            &::before {
                content: "";
                position: absolute;
                width: 27px;
                height: 5px;
                border-radius: 37%;
                left: 6%;
                top: 82%;
                background-color: #00ff22;
                @media (min-width: 300px) and (max-width: 1700px) {
                }
            }
        }
        .patient-header-card4-span4 {
            font-size: 10px;
            text-align: center;
            padding-left: 23px;
            &::before {
                content: "";
                position: absolute;
                width: 27px;
                height: 5px;
                border-radius: 37%;
                left: 6%;
                top: 95%;
                background-color: #00ff22;
                @media (min-width: 300px) and (max-width: 1700px) {
                }
            }
        }
    }
}
